* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    @include reg;
}
img {
    max-width: 100%;
}
.container {
    width: 1170px;
    margin:auto;
}
strong {
    font-weight: bold;
}
.button {
    border-radius:10px;
    background-color:$main-color;
    border:none;
    padding:18px 30px;
    transition:0.5s;
    &:hover {
        background-color: lighten($main-color, 20%);
        cursor: pointer;
    }
}
.section {
    padding: 90px 0;
    &-title {
        font-size: 30px;
        text-align: center;
        max-width: 500px;
        @include bold;
    }
    &-subtitle {
        font-size: 20px;
        display: block;
    }
}
.input {
    border:1px solid $border-input;
    padding: 20px 25px;
    font-size: 15px;
    border-radius:10px;
}
#button-up {   
    
    border: 2px solid #FF9800;
    border-radius: 100%;
    background-image: url('../img/up-arrow.svg');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 30px;
    width: 50px;   
    height: 50px;   
    margin: 30px;   
    position: fixed;   
    bottom: 30px;   
    right: 30px;   
    transition:.3s;   
    z-index: 1000; 
    display: none;  
    &:hover {
        cursor: pointer;   
        background-image: url('../img/up-arrow-hover.svg');
        background-color: #FF9800;
    }
 } 
.show {
    display:inline-block!important;
}
.arrows {
    &__left, 
    &__right {
        &:hover {
            cursor: pointer;
        }
    }

}
@media(max-width:1200px) {
    .container {
        max-width: 760px;
        width: 95%;
    }
}
@media(max-width:768px) {
    .container {
        max-width: 580px;
        width: 95%;
    }
}
@media(max-width:567px) {
   .section-title {
       font-size: 18px;
   }
}