.hero {
    padding:50px 0px;
    background-color:$secondary;
    &-block {
        display:flex;
    }
    &-text {
        flex-basis: 50%;
        padding-right: 100px;
        &__title {
            font-size:40px;
            line-height: 55px;
            margin-top: 0;
            margin-bottom: 40px;
            @include bold;
        }
        &__subtitle {
            font-size:20px;
            margin-bottom: 70px;
            display: inline-block;
        }
    }
    &-list {
        margin:0;
        padding:0;
        &__item {
            list-style: none;
            display:flex;
            align-items: center;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__image {
            width:40px;
            height:40px;
            border: 2px solid $main-color;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius:50%;
            margin-right: 30px;
        }
        &__text {
            max-width: 300px;
        }
    }
}
@media(max-width:1200px) {
    .hero {
        &-block {
            flex-direction: column;
        }
        &-list {
            margin-bottom: 45px;
        }
        &-text {
            padding-right: 0;
        }
    }
}
@media(max-width:768px) {
    .hero {
        &-text {
            &__title {
                font-size:24px;
                line-height: 1.4;
                margin-bottom: 15px;
            }
            &__subtitle {
                font-size:16px;
                margin-bottom: 25px;
            }
        }
        &-list {
            &__item {
                margin-bottom: 20px;
            }
            &__text {
                font-size:12px;
            }
            &__image {
                margin-right: 15px;
                flex-shrink: 0;
            }
        }
    }
}
@media(max-width:567px) {
    .hero-text__title {
        font-size: 22px;
    }
}